
* {
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

.stars, .twinkling, .clouds {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:100%;
  display:block;
}

.stars {
  background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
  z-index:0;
}

.twinkling{
  background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
  z-index:1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

.clouds{
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:3;

  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}
@font-face {
    font-family: 'Baloo-Da';
      src:  url('Baloo-Da.ttf.woff') format('woff'),
      url('Baloo-Da.ttf.svg#Baloo-Da') format('svg'),
      url('Baloo-Da.ttf.eot'),
      url('Baloo-Da.eot?#iefix') format('embedded-opentype'); 
      font-weight: normal;
      font-style: normal;
  }
.container{
    font-family: 'Baloo-Da';  
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;

    
}

.container{
    color:white
}


header {
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin:0 !important;
    color: white;
    position: fixed;
    z-index: 10000;
    background-color: black;
    top: 0;
    
}

.logo img {
   width: 220px;
   margin:0 20px;
   transform: translateY(10px);
   
}
.logo{
    align-self: flex-end;

}

.nav {
    z-index: 100000;
    display: flex;
   justify-content:  flex-end;
    width: 30%;
}

.navlink {
    list-style: none;

    margin: 0 30px;
}


.navlink a {
    color:white;
    text-decoration: none;
    font-size: 1.2em;
}

.burger {
    font-size: 1.2em;
    display: none;
    margin-right:1rem;
    margin-top: -10px;
}



.detail-container{
    margin-top: 100px;
    display: flex;
    
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    
    background-color: #e7e7e7;
    border-radius: 10px;
    color: black;
    margin:20px 30px;
   
    font-size: 19px;
  }
  .card img{
    border-radius: 5px;
    width: 130px;
    height: 500px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .cont {
    padding:0px 16px 10px 16px;
  }
  .cont h4{
      margin-top: -5px;
  }

.footer {
   position: fixed;
bottom: 0;
    width: 100%;
    
   
    background-color: rgb(0, 0, 0);
  } 
  
  .footer-text-container .muted {
   
    color: white;
    text-align: center;
  }
.form{
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form div{
    font-size: 30px;
}
.form input{
    font-family: 'Baloo-Da'; 
    background-color: #C4C4C4; 
    border-radius: 5px;
    border: none;
    width: 300px;
    padding:5px 20px;
    font-size: 20px;
    margin:20px 0;
    cursor: text;
}
button{
    font-family: 'Baloo-Da'; 
    background-color:#498FB7;
transform: scale(1.3);
    color: white;
    border: none;
    font-size: 18px;
    padding: 3px 50px;
    border-radius: 5px;
    margin:20px 0;
    
    
    }
    
    button:hover{
    transform: scale(1.45) ;
    transition-duration: 0.3s;
    cursor: pointer;
    }
    @media (min-width:700px) {
html{
    overflow: hidden;
}
    }
    @media (max-width:700px) {
.detail-container{
    flex-direction: column;
    align-items: center;
}
.form input{
    width: 250px;
}
.card{
    width: 90vw;
}
.footer{
    position: relative;
}



    }
    .card-top{
        font-size: 30px;
        display: flex;
        justify-content: space-between;
    }
    #price{
        color: #514F4F;
        font-weight: lighter;
        letter-spacing: 1px;
        font-family: 'Baloo Paaji 2', cursive;
        margin-top: -10px;
        font-size: 30px;
    }
    .card-bottom{
        margin-top: 10px;
    }
    @media (max-width:340px) {
        .form div{
font-size: 25px;
        }
        .card-top{
            font-size: 25px;
        }
        .logo img{
            margin-right: 0;
        }
    }
    .receipt{
        background-color:rgba(0,0,0,0.8);
    
        position: fixed;
        left: 0;
        text-align: center;
        font-size: 30px;
        right: 0%;
        top:0;
        bottom: 0;
        color: black;
        overflow-y: scroll;
        
    }
    .receipt-inside{
         
        background-color: #c4c4c4;
        position: absolute;
        top:13%;
        border-radius: 10px;
        left:30%;
        right: 30%;
        
        overflow-y: scroll;
        overflow: hidden;
        
    }
    .close{
        position: absolute;
        right: 10px;
    font-size: 25px;
    cursor: pointer;
        top: 0;
    }
    .receipt-item{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Baloo Paaji 2', cursive;
    }
    .receipt-title{
        font-weight: 600;
    }
    @media (max-width:700px) {
        .receipt-item{
            flex-direction: column;
        }
        .receipt-inside{
          
            left: 5vw;
            right: 5vw;
            margin-bottom: 20px;
        }
        .total{
            font-weight: bold;
            font-size: 35px;
        }
    }
    .receipt-cover{
        width: 100vw;
        height: 100vh;
position: absolute;;
z-index: 10000000;
        background: black;
    }
    .hide{
        display: none;
    }